@page "/post"
@inject NavigationManager NavManager

@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons

<div class="frame">
    <SfCard>
        <div class="image-box">
            <img class="scaled-image" src="@PostModel.ImageUri" />
        </div>
        <CardHeader Title="@PostModel.Title" SubTitle="@PostModel.SourceName" />
        <CardContent Content="@PostModel.Content" />
        <CardFooter>
            <CardFooterContent>
                <SfButton OnClick="@OpenOriginalSource" CssClass="e-btn e-outline e-primary">Read More</SfButton>
            </CardFooterContent>
        </CardFooter>
    </SfCard>
</div>

<style>
    .e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
        font-size: 12px;
        color: red;
    }
    .frame{
        width:450px;
        margin-bottom: 10px;
    }
    .image-box{
        margin: 10px;
        float:left;
        width: 50%;
    }
    .scaled-image {
        max-width: 100%;
        max-height: 100%;
        display: block;
        border-width: 1px;
        border-style: none outset outset none;
        border-color: lightgray;
    }
</style>

@code{

    [Parameter]
    public FreeBelarus.Shared.Models.Post PostModel { get; set; }

    private void OpenOriginalSource()
    {
        NavManager.NavigateTo(PostModel.SourceLink, true);
    }

}

